/* Main STYLES */
@font-face {
  font-family: mellanissa;
  src: url("../fonts/mellanissa.ttf");
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(11, 11, 14, 0.8);
  z-index: 999;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
}
nav a {
  font-size: 1.5em;
  font-weight: 500;
  color: #ffffff;
}
nav .navmenu__contactBtn {
  position: relative;
  padding: 4px 6px;
  font-size: 1rem;
  border: 2px solid #ffffff;
  line-height: 1rem;
  border-radius: 5px;
  transition: 0.1s border ease-out, 0.1s color ease-in;
}
nav .navmenu__contactBtn:hover {
  border: 2px solid transparent;
}
nav .navmenu__contactBtn::before {
  content: "telegram";
  position: absolute;
  padding: 4px 6px;
  font-size: 1rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  z-index: 2;
  opacity: 0;
  transition: 0.2s all ease-out 0.2s;
  transition-delay: 0.2s;
}
nav .navmenu__contactBtn:hover::before {
  opacity: 1;
}
nav .navmenu__contactBtn::after {
  content: "";
  position: absolute;
  padding: 4px 6px;
  font-size: 1em;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  border-radius: 5px;
  background-color: #0d99ff;
  z-index: 1;
  opacity: 0;
  transform: scale(1, 1);
  transition: 0.3s all ease-out;
  transition-delay: 0.2s;
}
nav .navmenu__contactBtn:hover::after {
  opacity: 1;
  width: 100%;
  transform: scale(1, 1);
  transition-delay: 0s;
}
nav .navmenu__body {
  position: relative;
  height: 60px;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .navmenu__body .selector_lang {
  opacity: 1;
  display: flex;
  gap: 15px;
}
nav .navmenu__body .selector_lang input {
  display: none;
}
nav .navmenu__body .selector_lang .navmenu__langSelector {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
  position: relative;
}
nav .navmenu__body .selector_lang .navmenu__langSelector:active {
  transform: translate(0, 1px);
}
nav .navmenu__body .selector_lang label::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.2s;
  border-bottom: 1px solid #0d99ff;
  transform: scale(0.1, 1);
}
nav .navmenu__body .selector_lang input:checked + label::before {
  opacity: 1;
  transform: scale(1.2, 1);
  border-bottom: 1px solid #0d99ff;
}
nav .navmenu__body .selector_lang input:not(:checked) + label:hover::before {
  opacity: 1;
  transform: scale(1.2, 1);
  border-bottom: 1px solid #ffffff;
}
nav .navmenu__body .navmenu {
  display: flex;
  gap: 30px;
}
nav .navmenu__body .navmenu .navmenu__items {
  display: flex;
  gap: 30px;
}
nav .navmenu__body .navmenu .navmenu__menuBtn {
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
}
nav .navmenu__body .navmenu .navmenu__menuBtn:hover {
  transform: translate(0, -2px);
}
nav .navmenu__body .navmenu .navmenu__menuBtn a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-bottom: 2px solid #0d99ff;
  transform: scale(0.1, 1);
}
nav .navmenu__body .navmenu .navmenu__menuBtn:hover a::before {
  opacity: 1;
  transform: scale(1.2, 1);
  border-bottom: 2px solid #0d99ff;
}
nav .navmenu__body .navmenu .navmenu__menuBtn:active {
  transform: translate(0, 0px);
}/*# sourceMappingURL=navigation.css.map */