@import "./variables";

.section__submit {
  display: flex;
  flex-direction: column;

  h2 {
    padding-top: $padding_h2;
  }

  .submitForm {
    margin: 50px auto;
    background-color: #151515;
    border-radius: 25px;
    border: 5px solid $accent-blue;
    width: 500px;
    height: 420px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;

    .submitForm__item {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;

      &:focus-within label {
        transform: translate(0, 5px) scale(0.8);
      }

      label {
        position: absolute;
        pointer-events: none;
        transform: translate(0, 23px) scale(1);
        transform-origin: top left;
        transition: 0.2s cubic-bezier(0, 0, 0.2, 1) 0ms;
        color: #6f81a5;
        font-size: 1rem;
        left: 10px;
      }

      input {
        border-bottom: 1px solid $gray;
        width: 100%;
        height: 50px;
        background-color: #151515;
        color: $white;
        font-family: $font-roboto;
        font-weight: $font-regular;
        font-size: 1rem;
        padding: 20px 10px 4px 10px;
        outline: none;
        box-shadow: none;
        transition: 0.2s cubic-bezier(0, 0, 0.2, 1);

        &::placeholder {
          color: transparent;
        }
      }

      & textarea {
        padding: 20px 10px 4px 10px;
        outline: none;
        border-bottom: 1px solid $gray;
        width: 100%;
        color: $white;
        background-color: #151515;
        font-family: $font-roboto;
        font-weight: $font-medium;
        font-size: 1rem;

        &::placeholder {
          color: transparent;
        }
      }

      input:focus,
      textarea:focus {
        border-color: $accent-blue;
      }

      input:not(:placeholder-shown) + label {
        transform: translate(0, 5px) scale(0.8);
      }
    }

    // https://www.youtube.com/watch?v=zivkHZ9w7DY

    .checkbox__termsAndConditionsBlock {
      align-self: flex-start;

      input[type="checkbox"] {
        cursor: pointer;

        &:focus {
          box-shadow: 0 0 2px 2px $accent-blue;
        }
      }

      & label {
        color: rgb(122, 122, 122);
        font-family: $font-roboto;
        font-weight: $font-regular;
        font-size: 0.8rem;
      }

      .temsAndConditionsLink {
        color: $accent-blue;
        font-family: $font-roboto;
        font-weight: $font-regular;
        font-size: 0.8rem;
      }
    }

    & input[type="submit"] {
      align-self: flex-start;
      width: 120px;
      height: 40px;
      border-radius: 30px;
      background-color: $accent-blue;
      color: $white;
      font-family: $font-roboto;
      font-weight: $font-bold;
      font-size: 1em;

      &:disabled {
        background-color: $gray;
      }
    }
  }
}
