@import './variables';

.section__work {
  margin-top: 100vh;

  .work__tabs {
    width: 100%;
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include breakpoint(xs) {
      gap: 0;
      padding-top: 55px;
    }
  }

  .work__tabs > label {
    padding: 10px 10px 10px 10px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    font-size: 30px;
    font-weight: $font-medium;
    color: $white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    svg {
      width: 25px;
      height: auto;

      @include breakpoint(xs) {
        width: 35px;
        height: auto;
      }
    }

    span {
      @include breakpoint(xs) {
        display: none;
      }
    }

    @include breakpoint(md) {
      font-size: 1.2rem;
    }

    @include breakpoint(sm) {
      font-size: 1.5rem;
    }

    @include breakpoint(xs) {
      transition: none;
      font-size: 1rem;
    }
  }

  .work__tabs > label::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s;
    border-bottom: 2px solid $accent-blue;
    transform: scale(0.1, 1);
  }

  input:checked + label::before {
    opacity: 1;
    transform: scale(0.93, 1);
    border-bottom: 3px solid $accent-blue;

    @include breakpoint (xs) {
      transform: scale(0.8, 1);
    }
  }

  input:not(:checked) + label::before {
    @include breakpoint(xs) {
      opacity: 1;
      transform: scale(1, 1);
      border-bottom: 1px solid $white;
    }
  }

  input:not(:checked) + label:hover::before {
    opacity: 1;
    transform: scale(1, 1);
    border-bottom: 1px solid $white;
  }

  .work__tabs > input[type='radio'] {
    display: none;
  }

  #tab-motionGraphic:checked ~ #motionGraphic,
  #tab-art:checked ~ #art,
  #tab-news:checked ~ #news {
    display: grid;

    @include breakpoint(md) {
      display: flex;
      flex-direction: column;
    }
  }

  #motionGraphic {
    display: none;
    margin-top: 50px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    grid-column-start: 1;
    grid-column-end: 4;

    @include breakpoint(md) {
      grid-template-columns: 1fr;
    }

    @include breakpoint(sm) {
      grid-gap: 10px;
    }

    .work__videoContainer > video {
      width: 100%;
      object-fit: cover;
      border-radius: 7px;
    }
  }

  #art {
    display: none;
    margin-top: 50px;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    grid-column-start: 1;
    grid-column-end: 4;

    .work__imgContainer img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 7px;
    }

    .work__imgContainer:nth-child(1) {
      grid-column: span 4;
      grid-row: span 2;
    }

    .work__imgContainer:nth-child(2),
    .work__imgContainer:nth-child(3) {
      grid-column: span 2;
    }

    .work__imgContainer:nth-child(4),
    .work__imgContainer:nth-child(5) {
      grid-column: span 3;
    }
  }

  #news {
    display: none;
    margin-top: 50px;
    width: 100%;
    grid-gap: 10px;
    grid-column-start: 1;
    grid-column-end: 4;

    .work__newsContainer {
      display: flex;
      gap: 20px;
      width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
      padding: 20px;
      background-color: $navbar_opacity;

      @include breakpoint(md) {
        justify-content: center;
      }

      .news__item {
        position: relative;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 300px;
        height: 250px;
        padding: 25px;
        background-color: rgba(240, 240, 240, 0.85);
        border-radius: 10px;

        @include breakpoint(md) {
          flex-basis: 220px;
        }

        .news__title {
          text-align: center;
          color: #000;
        }

        .news__description {
          text-align: center;
        }

        img {
          position: absolute;
          left: 50%;
          bottom: 25px;
          transform: translate(-50%, 0);
        }

        .news__item_date {
          position: absolute;
          right: 10px;
          bottom: 10px;
        }
      }
    }
  }
}

.work__background {
  position: absolute;
  padding: 150px 20px 0 20px;
  top: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: -1;
  filter: brightness(0.8); // Britness of background images

  @include breakpoint(md) {
    flex-direction: column;
    justify-content: center;
    gap: 120px;
  }

  @include breakpoint(xs) {
    gap: 150px;
  }

  .work__background_left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include breakpoint(xs) {
      flex-direction: column;
      justify-content: center;
      gap: 150px;
    }
  }

  #work__background_imageLeft1 {
    width: 55%;
    height: auto;

    @include breakpoint(xl) {
      width: 80%;
      height: auto;
    }

    @include breakpoint(xs) {
      width: 80%;
    }
  }

  #work__background_imageLeft2 {
    width: 55%;
    height: auto;

    @include breakpoint(xl) {
      width: 80%;
      height: auto;
    }

    @include breakpoint(xs) {
      width: 80%;
    }
  }

  #work__background_imageRight {
    width: 30%;
    height: auto;

    @include breakpoint(md) {
      width: 80%;
    }
  }
}
